{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block page_content %}

<div class="search-container">

    <form id="search-form" class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="recipe-container">
            <div class="quick-search">
                <h4>Quick Search</h4>
                <div class="ele-search">{{ form.recipe.query }}</div>
                <div class="ele-search">
                    {% for ingredient in form.recipe.ingredients %}
                    {{ ingredient }}
                    {% endfor %}
                </div>
                {% for choice in form.recipe.tags %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </div>
            <button id="advanced-btn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Advanced Search
            </button>
            <div class="collapse" id="collapseExample">
                <div class="advanced-search">
                    <div class="container">
                            <h4>Calories range:</h4>   {{ form.nutrients.minCalories }} - {{ form.nutrients.maxCalories }}</h4>
                            <h4>Carbs range:</h4>  {{ form.nutrients.minCarbs }} - {{ form.nutrients.maxCarbs }}</h4>
                            <h4>Proteins range:</h4>  {{ form.nutrients.minProteins }} - {{ form.nutrients.maxProteins }}</h4>
                            <h4>Fats range:</h4>   {{ form.nutrients.minFats }} - {{ form.nutrients.maxFats }}</h4> 
                    </div>
                </div>
            </div>
        </di    v>

        <div class="submit-container">
            {{ form.submit }}
        </div>
    </form>

</div>

<div class=num-res>Search results: {{total_results}}</div>
<div class="result-view">
    {% for recipe in recipes %}
    {% include '_search.html' %}
    {% endfor %}
</div>

<div class="nav-search-btns">
<nav id="prev-next" aria-label="...">
    <ul class="pagination justify-content-end">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true" class="page-link">Previous</span>
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                <span aria-hidden="true" class="page-link">Next</span>
            </a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}