{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block page_content %}

<div class="search-container">

    <form id="search-form" class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="recipe-container">
            <div class="quick-search">
                <h4>Quick Search</h4>
                <div class="ele-search">{{ form.recipe.query }}</div>
                <div class="ele-search">
                    {% for ingredient in form.recipe.ingredients %}
                    {{ ingredient }}
                    {% endfor %}
                </div>
            </div>
            <button id="advanced-btn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Advanced Search
            </button>
            <div class="collapse" id="collapseExample">
                <div class="advanced-search">
                    {% for nutrient in form.nutrients %}
                    {% if nutrient.label.text != 'CSRF Token' %}
                    {{ nutrient.label }} {{ nutrient }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="submit-container">
            {{ form.submit }}
        </div>
    </form>

</div>

{% if recipes is defined and recipes|length > 0 %}
<div class=num-res>Search results: {{total_results}}</div>
<div class="result-view">
    {% for recipe in recipes %}
    {% include '_search.html' %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

<!-- TODO: pagination -->
{% block app_content %}
<h1>{{ _('Search Results') }}</h1>
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>
                {{ _('Previous results') }}
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                {{ _('Next results') }}
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}