{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block page_content %}

<div class=nav-container>
    {{ wtf.quick_form(form) }}
</div>

{% if recipes is defined and recipes|length > 0 %}
<div class=num-res>Search results: {{recipes | length}}</div>
{% for recipe in recipes %}
{% include '_search.html' %}
{% endfor %}
{% endif %}
{% endblock %}

<!-- TODO: pagination -->
{% block app_content %}
<h1>{{ _('Search Results') }}</h1>
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>
                {{ _('Previous results') }}
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                {{ _('Next results') }}
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}