@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');

body {
    background: #d4af85;
    /* dark cream */
}

h4 {
    color: #FEEFDD;
    /* light cream */
    margin-right: 50px
}


.navbar {
    background: #d4af85;
    /* dark cream */
}

.nav.navbar-nav li a {
    color: #241910;
    /* dark brown */
}

.nav.navbar-brand a {
    color: #241910;
    /* dark brown */
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #FEEFDD;
    /* light cream */
    border-color: #FEEFDD;
    /* light cream */
    color: #241910;
    /* dark brown */
    width: auto;
    height: auto;

}

.btn-xlg {
    padding: 18px 18px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

nav {
    margin: 30px auto 0px ;
    position: relative;
    width: auto;
    height: 50px;
    background-color: #d4af85;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .4s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}

nav .start-search,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}

nav .start-my-fridge,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}

nav .start-grocery-list,
a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}

body {
    font-size: 12px;
    font-family: sans-serif;
}

h1 {
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    font-family: 'Turret Road', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
}

span {
    /* color: #2BD6B4; */
    display: inline-block;
}