body{
    background: #d4af85; /* dark cream */
}

h4{
    color: #FEEFDD; /* light cream */
}

.navbar{
    background: #d4af85; /* dark cream */
    margin-bottom: 0;
    border-radius: 0px;
}

.nav.navbar-nav li a {
    color: #241910; /* dark brown */
}

.nav.navbar-brand a {
    color: #241910; /* dark brown */
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #FEEFDD; /* light cream */
    border-color: #FEEFDD; /* light cream */
    color: #241910; /* dark brown */
}

.btn-xlg{
    padding: 18px 18px;
    font-size: 28px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 450px;
    height: 70px;
}
