.jumbotron h1.jumbotron-text {
    color: #d4af85;
    font-size: 38px;
    font-family: sans-serif;
    text-align: left;
}

.jumbotron {
    background-color: #241910;
    width: 100%;
    height: auto;
}

.glyphicon {
    color: #d4af85;
    font-size: 20px;
}

.container .jumbotron {
    padding: 0px 3px;
}

img {
    border-radius: 4px;
    padding: 3px;
    width: 500px;
    height: auto float: left;
    margin: 0px 15px 15px 0px;
}

.recipe-info {
    font-size: 20px;
    color: #d4af85;
    margin-left: 20px;
}


.recipe-info-title {
    font-size: 25px;
    font-color: #241910;
    font-weight: 1000;
    margin-left: 20px;
}

.glyphicon.recipe-info {
    color: #241910;
    font-size: 30px;
    margin-left: 5px;
}

p {
    background: #241910;
    padding: 7px;
    border-radius: 8px;
    margin-left: 5px;
    font-size: 18px;
    color: #FEEFDD;
}

.ingredients {
    height: 550px;
    overflow-y: scroll;
}

#nutrition-info {
    align: left
}